* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.w-300px {
    width: 300px;
}

.btn {
    text-decoration: none;
    background-color: aqua;
    padding: 10px 20px;
    border-radius: 15px;
    display: inline-block;
}
